# need python>=3.10
# pip install 'python-lsp-server[all]'
# download imagemagick, quatro, wezterm
# install fzf, ag, ripgrep, bat using choco
pynvim
jupyter_client
notebook
jedi
jedi-language-server
pyright
pylsp-mypy